/* Overall Styling Tweaks */
body {
    background-color: #f8f9fa; /* Light background color */
}

/* Navbar Styles */
.navbar {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Body content heading styles */
.display-4 {
    font-size: 3rem ;
    color: #0056b3; /* Custom primary color */
}

.lead {
    font-size: 1.25rem;
    color: #6c757d; /* gray for the paragraph */
}

/* Button Styles */
.btn-lg {
    font-size: 1.2rem;
    padding: 10px 20px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

/* Footer Styles */
footer {
    background-color: #343a40;
}

/* Forms Styles */

/* Card Styles */
.card {
    border-radius: 15px; /* Slightly larger border radius */
    border: none;
    background-color: #ffffff; /* White background for more contrast */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Stronger shadow for depth */
    transition: box-shadow 0.3s ease-in-out; /* Smooth shadow transition on hover */
}

.card:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3); /* Hover effect with more shadow */
}

.card-body {
    padding: 2rem;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.input-group button {
    border: none;
}
